OVERLAY_BASE_PACKAGE_IDENTIFIER = io.example.sfavt
OVERLAY_DEVELOPMENT_TEAM = TEAMID1234
OVERLAY_MACOS_SYSTEM_PROFILE_SPECIFIER = XC io example sfavt system
OVERLAY_MACOS_STANDALONE_PROFILE_SPECIFIER = XC io example sfavt standalone
OVERLAY_APPLICATION_NAME = 2b2n-vpn
OVERLAY_DEV_APPLICATION_NAME = dev-vpn
OVERLAY_URL_SCHEME = bbnn
OVERLAY_DEV_URL_SCHEME = dev-vpn
OVERLAY_APPLICATION_LINK = https:/$()/example.com/2b2n-vpn/
OVERLAY_CHANGELOG_LINK = https:/$()/example.com/2b2n-vpn/changelog/
OVERLAY_CONFIGURATION_LINK = https:/$()/example.com/2b2n-vpn/configuration/
OVERLAY_SOURCE_LINK = https:/$()/example.com/2b2n-stack/source/
OVERLAY_RELEASES_LINK = https:/$()/example.com/2b2n-vpn/releases/
OVERLAY_SING_BOX_CORE_LINK = https:/$()/github.com/SagerNet/sing-box
OVERLAY_SING_BOX_APPLE_CLIENT_LINK = https:/$()/github.com/SagerNet/sing-box-for-apple
OVERLAY_SING_BOX_LX_LINK = https:/$()/github.com/Leadaxe/sing-box-lx
OVERLAY_STACK_SOURCE_LINK = https:/$()/github.com/vl-bbnn/2b2n-stack
